.tooltip-up{
    background: #232323;
    padding: 6px 8px;
    color: var(--font-color-1);
    font-weight: 400;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    top: -35px;
    white-space: pre;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.library__button .tooltip-up{
    top: -25px;
}

.plus:hover .tooltip-up{
    opacity: 1;
}

.library__button:hover .tooltip-up{
    opacity: 1;
}

.tooltip-down{
    background: #232323;
    padding: 6px 8px;
    color: var(--font-color-1);
    font-weight: 400;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: -40px;
    white-space: pre;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.header__search label .tooltip-down{
    margin-left: 8px;
}

.header__search label:hover .tooltip-down{
    opacity: 1;
}

.arrow-left:hover .tooltip-down{
    opacity: 1;
}

.arrow-right:hover .tooltip-down{
    opacity: 1;
}