:root{
    /*FUNDO*/
    --background-color-1: #000;
    --background-color-2: #121212;
    --background-color-3: #242424;

    /*FONTES*/
    --font-color-1: #fff;
    --font-color-2: #b3b3b3;
    --font-dm: "DM Sans", sans-serif;

    /*ÍCONES*/
    --bg-icon: #131313;
}